<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VenuesNearByYou.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9AA1B5C1E926C9100BB084A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9AA1B701E926C9200BB084A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9AA1B7B1E926C9200BB084A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
